*.o
*~
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
include/config.h
include/config.h.in
include/stamp-h1
install-sh
missing
test-driver
planet-dump-ng
src/.deps
src/Makefile
src/Makefile.in
compile
test/*.trs
test/*.log
test-suite.log
